In [27]:
import pandas as pd

In [28]:
train_df = pd.read_csv("dataset/test.csv")
print("Train Dataset:")
print(train_df.head())


#check suraj

Train Dataset:
       ID Customer_ID      Month             Name  Age          SSN  \
0  0x160a   CUS_0xd40  September    Aaron Maashoh   23  821-00-0265
1  0x160b   CUS_0xd40    October    Aaron Maashoh   24  821-00-0265
2  0x160c   CUS_0xd40   November    Aaron Maashoh   24  821-00-0265
3  0x160d   CUS_0xd40   December    Aaron Maashoh  24_  821-00-0265
4  0x1616  CUS_0x21b1  September  Rick Rothackerj   28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12            1824.843333                  3  ...
2  Scientist      19114.12            1824.843333                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4    _______      34847.84            3037.986667                  2  ...

   Num_Credit_Inquiries  Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0                2022.0        Good           809.98                35.030402
1                   4.0        Good           809.98                33.053114
2                   4.0        Good           809.98                33.811894
3                   4.0        Good           809.98                32.430559
4                   5.0        Good           605.03                25.926822

       Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0   22 Years and 9 Months                    No           49.574949
1  22 Years and 10 Months                    No           49.574949
2                     NaN                    No           49.574949
3   23 Years and 0 Months                    No           49.574949
4   27 Years and 3 Months                    No           18.816215

   Amount_invested_monthly                 Payment_Behaviour  \
0       236.64268203272135    Low_spent_Small_value_payments
1       21.465380264657146  High_spent_Medium_value_payments
2       148.23393788500925   Low_spent_Medium_value_payments
3        39.08251089460281  High_spent_Medium_value_payments
4       39.684018417945296   High_spent_Large_value_payments

      Monthly_Balance
0  186.26670208571772
1  361.44400385378196
2  264.67544623342997
3  343.82687322383634
4   485.2984336755923

[5 rows x 27 columns]

In [29]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [30]:
train_df = train_df.drop(["ID", "Name", "SSN", "Customer_ID","Month"], axis=1)

In [31]:
train_df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

Data cleaning

In [32]:
train_df.isnull().sum()

Age                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [33]:
column_description = train_df["Monthly_Balance"].describe()
print(column_description)

count                                49438
unique                               49433
top       __-333333333333333333333333333__
freq                                     6
Name: Monthly_Balance, dtype: object

In [34]:
import numpy as np

# Convert 'Monthly_Balance' to numeric, forcing errors to NaN
train_df["Monthly_Balance"] = pd.to_numeric(
    train_df["Monthly_Balance"], errors="coerce"
)

train_df["Monthly_Balance"].fillna(train_df["Monthly_Balance"].mean(), inplace=True)

# Verify that the column is cleaned
print(train_df["Monthly_Balance"].describe())

count    50000.000000
mean       403.066257
std        212.467885
min          0.103402
25%        271.118562
50%        338.992491
75%        468.571215
max       1606.518192
Name: Monthly_Balance, dtype: float64

/var/folders/g0/g5qr_lwn28d7m35_7c1ksm300000gn/T/ipykernel_30597/506373918.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Monthly_Balance"].fillna(train_df["Monthly_Balance"].mean(), inplace=True)

In [35]:
# replace "____" in occupation column to "Other"
train_df["Occupation"].replace("_______", "Other", inplace=True)
# train_df["Occupation"] = train_df["Occupation"].replace("Other")

train_df["Occupation"].value_counts()

/var/folders/g0/g5qr_lwn28d7m35_7c1ksm300000gn/T/ipykernel_30597/1947382136.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Occupation"].replace("_______", "Other", inplace=True)

Occupation
Other            3438
Lawyer           3324
Engineer         3212
Architect        3195
Mechanic         3168
Developer        3146
Accountant       3133
Media_Manager    3130
Scientist        3104
Teacher          3103
Entrepreneur     3103
Journalist       3037
Doctor           3027
Manager          3000
Musician         2947
Writer           2933
Name: count, dtype: int64

In [36]:
train_df['Num_of_Loan'] = train_df['Num_of_Loan'].apply(lambda x: str(str(x).replace("_","")))
train_df['Num_of_Loan'] = train_df['Num_of_Loan'].apply(lambda x: abs(float(x)))

In [37]:
# filling not specified instead of na
train_df['Type_of_Loan'] = train_df['Type_of_Loan'].fillna('Not Specified')
def clean_loan_types(loan_list):
    unique_loans = list(set([loan.strip() for loan in loan_list.split(',')]))
    
    if 'Not Specified' in unique_loans and len(unique_loans) > 1:
        unique_loans.remove('Not Specified')
    
    return ', '.join(unique_loans)

train_df['Type_of_Loan'] = train_df['Type_of_Loan'].apply(clean_loan_types)
print(train_df["Type_of_Loan"].describe())

count             50000
unique             2486
top       Not Specified
freq               5704
Name: Type_of_Loan, dtype: object

In [38]:
train_df['Num_of_Delayed_Payment'] = train_df['Num_of_Delayed_Payment'].fillna("0")
train_df['Num_of_Delayed_Payment'] = train_df['Num_of_Delayed_Payment'].apply(lambda x: str(x).replace("_", ""))
train_df['Num_of_Delayed_Payment'] = pd.to_numeric(train_df['Num_of_Delayed_Payment'], errors='coerce')
train_df['Num_of_Delayed_Payment'] = train_df['Num_of_Delayed_Payment'].fillna(0)
train_df['Num_of_Delayed_Payment'] = train_df['Num_of_Delayed_Payment'].astype(int)

In [39]:
train_df['Changed_Credit_Limit'] = train_df['Changed_Credit_Limit'].apply(lambda x: str(x).replace("_", "0"))
train_df['Changed_Credit_Limit'] = pd.to_numeric(train_df['Changed_Credit_Limit'], errors='coerce')
train_df['Changed_Credit_Limit'] = train_df['Changed_Credit_Limit'].fillna(train_df['Changed_Credit_Limit'].median())

In [40]:
train_df['Age'] = train_df['Age'].apply(lambda x: str(x).replace("_", ""))
train_df['Age'] = pd.to_numeric(train_df['Age'], errors='coerce')
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].median())


print(train_df['Age'].describe())

count    50000.000000
mean       109.714420
std        679.696381
min       -500.000000
25%         25.000000
50%         34.000000
75%         43.000000
max       8688.000000
Name: Age, dtype: float64

In [41]:
train_df['Credit_History_Age'] = train_df['Credit_History_Age'].apply(
    lambda x: (int(x.split(' ')[0]) * 12 + int(x.split(' ')[3])) if pd.notnull(x) else None
).astype(float)

# Fill missing values with the median
median_value = train_df['Credit_History_Age'].median()
train_df['Credit_History_Age'].fillna(median_value, inplace=True)

# describe the cleaned column
print(train_df["Credit_History_Age"].describe())

count    50000.000000
mean       227.049920
std         95.002194
min         10.000000
25%        160.000000
50%        225.000000
75%        298.000000
max        408.000000
Name: Credit_History_Age, dtype: float64

/var/folders/g0/g5qr_lwn28d7m35_7c1ksm300000gn/T/ipykernel_30597/3896358569.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Credit_History_Age'].fillna(median_value, inplace=True)

In [42]:
# describe the credit utilization ratio column
print(train_df["Credit_Utilization_Ratio"].describe())

count    50000.000000
mean        32.279581
std          5.106238
min         20.509652
25%         28.061040
50%         32.280390
75%         36.468591
max         48.540663
Name: Credit_Utilization_Ratio, dtype: float64

In [43]:
train_df["Outstanding_Debt"] = train_df["Outstanding_Debt"].apply(
    lambda x: str(x).replace("_", "")
)
train_df["Outstanding_Debt"] = train_df["Outstanding_Debt"].astype(float)
column_description = train_df["Outstanding_Debt"].describe()

print(column_description)

count    50000.000000
mean      1426.220376
std       1155.134801
min          0.230000
25%        566.072500
50%       1166.155000
75%       1945.962500
max       4998.070000
Name: Outstanding_Debt, dtype: float64

In [44]:
# cleaning credit mix with entries "_" or "" to "Other"
train_df["Credit_Mix"].replace("_", "Other", inplace=True)
train_df["Credit_Mix"].replace("", "Other", inplace=True)

# describe the 'Credit_Mix' column
column_description = train_df["Credit_Mix"].describe()
print(column_description)

count        50000
unique           4
top       Standard
freq         18379
Name: Credit_Mix, dtype: object

/var/folders/g0/g5qr_lwn28d7m35_7c1ksm300000gn/T/ipykernel_30597/2643106773.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Credit_Mix"].replace("_", "Other", inplace=True)
/var/folders/g0/g5qr_lwn28d7m35_7c1ksm300000gn/T/ipykernel_30597/2643106773.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Credit_Mix"].replace("", "Other", inplace=True)

In [45]:
# Convert 'Num_Credit_Inquiries' to numeric, forcing errors to NaN
train_df["Num_Credit_Inquiries"] = pd.to_numeric(
    train_df["Num_Credit_Inquiries"], errors="coerce"
)


# Handle NaN values (e.g., fill NaN with the 0)
train_df["Num_Credit_Inquiries"].fillna(
    0, inplace=True
)

# Verify that the 'Num_Credit_Inquiries' column is cleaned
print(train_df["Num_Credit_Inquiries"].describe())

count    50000.000000
mean        29.457540
std        194.981674
min          0.000000
25%          4.000000
50%          7.000000
75%         10.000000
max       2593.000000
Name: Num_Credit_Inquiries, dtype: float64

/var/folders/g0/g5qr_lwn28d7m35_7c1ksm300000gn/T/ipykernel_30597/834996259.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df["Num_Credit_Inquiries"].fillna(

In [46]:
train_df["Annual_Income"] = train_df["Annual_Income"].str.rstrip("_")
train_df["Annual_Income"] = train_df["Annual_Income"].astype(float)


# Verify the changes
column_description = train_df["Annual_Income"].describe()
column_description

count    5.000000e+04
mean     1.663342e+05
std      1.351965e+06
min      7.005930e+03
25%      1.945333e+04
50%      3.757782e+04
75%      7.281702e+04
max      2.413726e+07
Name: Annual_Income, dtype: float64

In [47]:
train_df["Monthly_Inhand_Salary"] = train_df["Monthly_Inhand_Salary"].fillna(
    train_df["Annual_Income"] / 12
)
column_description = train_df["Monthly_Inhand_Salary"].describe()
column_description

count    5.000000e+04
mean     5.548293e+03
std      4.228888e+04
min      3.036454e+02
25%      1.624752e+03
50%      3.088475e+03
75%      5.957448e+03
max      1.979290e+06
Name: Monthly_Inhand_Salary, dtype: float64

In [48]:
train_df.Payment_Behaviour.value_counts()

# Replace the special string with NaN in the 'Payment_Behaviour' column
train_df['Payment_Behaviour'] = train_df['Payment_Behaviour'].replace('!@9#%8', pd.NA)

# Calculate the mode of 'Payment_Behaviour' column and fill missing values
most_frequent_value = train_df['Payment_Behaviour'].mode()[0]
train_df['Payment_Behaviour'] = train_df['Payment_Behaviour'].fillna(most_frequent_value)
print(most_frequent_value)

train_df.Payment_Behaviour.value_counts()

Low_spent_Small_value_payments

Payment_Behaviour
Low_spent_Small_value_payments      16494
High_spent_Medium_value_payments     8922
High_spent_Large_value_payments      6844
Low_spent_Medium_value_payments      6837
High_spent_Small_value_payments      5651
Low_spent_Large_value_payments       5252
Name: count, dtype: int64

In [49]:
train_df.Payment_of_Min_Amount.value_counts()
train_df['Payment_of_Min_Amount'] = train_df['Payment_of_Min_Amount'].apply(lambda val: "No" if val in ["NM", ""] else val)

train_df.Payment_of_Min_Amount.value_counts()

Payment_of_Min_Amount
Yes    26158
No     23842
Name: count, dtype: int64

In [50]:
train_df.Amount_invested_monthly.value_counts()

# Replace invalid or missing entries in 'Amount_invested_monthly' with NaN
train_df['Amount_invested_monthly'] = train_df['Amount_invested_monthly'].apply(lambda val: np.nan if val in ["__10000__", ""] else float(val))

# Calculate the mean of the 'Amount_invested_monthly' column
avg_investment = train_df['Amount_invested_monthly'].mean()

train_df['Amount_invested_monthly'] = train_df['Amount_invested_monthly'].fillna(value=avg_investment)

# Check if any null values remain in the column
remaining_nulls = train_df['Amount_invested_monthly'].isnull().sum()
print(f"Remaining null values: {remaining_nulls}")
print(avg_investment)

train_df.Amount_invested_monthly.value_counts()

Remaining null values: 0
194.83561690699673

Amount_invested_monthly
194.835617    4446
0.000000       106
236.642682       1
160.097717       1
320.456645       1
              ...
197.217131       1
366.231484       1
34.899406        1
256.908305       1
220.457878       1
Name: count, Length: 45450, dtype: int64

In [51]:
train_df.Total_EMI_per_month.value_counts()

train_df.Total_EMI_per_month.isna().sum()

train_df[train_df['Total_EMI_per_month'] < 0]['Total_EMI_per_month'].count()

0

EDA of data

In [52]:
#remove outliars from all numeric columns
for column in numeric_columns:
    upper_limit = train_df[column].quantile(0.99)
    train_df[column] = train_df[column].clip(upper=upper_limit)

NameError: name 'numeric_columns' is not defined

In [207]:
# removing huge outliars
train_df = train_df[(train_df["Age"] <= 75) & (train_df["Age"] >= 0)]
train_df = train_df[(train_df["Interest_Rate"] < 116)]
train_df=train_df[(train_df['Num_Bank_Accounts'] >0) & (train_df['Num_Bank_Accounts'] < 190)]
train_df = train_df[(train_df["Num_of_Loan"] < 100)]
train_df = train_df[(train_df["Num_of_Delayed_Payment"] < 40)]
train_df = train_df[(train_df["Outstanding_Debt"] < 4100)]

train_df = train_df[
    (train_df["Changed_Credit_Limit"] <= 30)
]  
train_df = train_df[(train_df["Total_EMI_per_month"] <= 10000)]  


train_df = train_df[(train_df["Num_Credit_Inquiries"] < 81)]
train_df = train_df[(train_df["Num_Credit_Card"] < 100)]

Preprocessing

In [218]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming train_df is already defined
# Identify all categorical columns
categorical_columns = train_df.select_dtypes(
    include=["object", "category"]
).columns.tolist()

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column and save as new column
for column in categorical_columns:
    train_df[f"label_{column}"] = label_encoder.fit_transform(train_df[column])
    train_df.drop(columns=[column], inplace=True)

In [224]:
train_df=train_df.drop(['label_Occupation','Credit_Utilization_Ratio','label_Payment_Behaviour'],axis=1)

In [225]:
train_df.to_csv("train_df_cleaned.csv", index=False)

Applying models

In [227]:
df = pd.read_csv("test_df_cleaned.csv")

In [ ]:
# from lazypredict.Supervised import LazyClassifier
# from sklearn.model_selection import train_test_split

# test_df=pd.read_csv("dataset/test.csv")

# # Define the target and features
# X_train = df.drop(columns=["label_Credit_Score"])
# y_train = df["label_Credit_Score"]


# # Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Initialize LazyClassifier
# clf = LazyClassifier(verbose=0, ignore_warnings=True, custom_metric=None)

# # Fit the models
# models, predictions = clf.fit(X_train, X_test, y_train, y_test)

# # Display the results
# print(models)